<!-- views/partials/footer.ejs -->
<footer class="footer">
    <a style="color: orangered;" href="https://www.instagram.com/diego.r1s"  target="_blank" >SIGUEME
    <img src="/images/instagram.png" width="20" height="20" />
    </a>
    <br>
    
    <i class="fab fa-twitter"></i>    
         <a href="https://twitter.com/DiegoRayas16" class="twitter-follow-button"
          data-show-count="false">Follow @DiegoRayas</a><script async src="https://platform.twitter.com/widgets.js" 
          charset="utf-8"></script>

    <p>© 2020 La estamos rompiendo prr.</p>
    
   

</footer>