<!-- views/partials/navbar.ejs  
    Nombre del autor: Diego Manuel salas Rayas
    Fecha y hora: 10/101/2020 */-->
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">INICIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    API´s
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/ubicacion">Ubicate porfa</a>
    <a class="dropdown-item" href="/redes">REDES SOCIALES</a>
    <a class="dropdown-item" href="/gasta">Vamos a gastar</a>
    <a class="dropdown-item" href="/st">Streaming</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/otra">Otra mas</a>
    <a class="dropdown-item" href="/registro">registrate</a>
    </div>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/acercade">Acerca de mi</a>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">


    </form>
    </div>
   </nav>