<!-- Nombre del autor: Diego Manuel salas Rayas
    Fecha y hora: 10/101/2020 */-->

<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head'); %>
    </head>      
    <body>
        <div class="jumbotron jumbotron-fluid">
         <div class="container">
        <%- include('partials/navbar'); %>
        <h1>HABLEMOS SOBRE MI</h1>
        <br>
        <hr color="#2980B9" size=3>
        <div align="center"><img src="/images/yo.png" width="400" height="350" /> </div>
        <p>Mi nombre es DIego Salas vivo en San Miguel de Allende Tengo 19 años (ya casi 20) estudio desarrollo de software y me gusta tener retos y esforzarme para cumplirlos,acontinuacion les mostrare algunas imagenes de las actividades que me gusta hacer </p> 
        <br>
        <h2>Desde pequeño me gusta mucho las luchas</h2>
        <div align="center"><img src="/images/lucha.png" width="400" height="350" /></div>
        <br>
        <br>
        <h2>Tambien desde siempre me a gustado tanto ver como practicar futbol</h2>
        <div align="center"><img src="/images/futbol.png" width="400" height="350"/> </div>
        <br>
        <br>
        <h2>por ultimo aunque en si no me gusta la fiesta y eso pero lo que si me gusta es convivir con mis amigos</h2>
        <div align="center"><img src="/images/fiesta.png" width="400" height="350" /></div>
        <br>
        <br>
        <a href="javascript: history.go(-1)">Volver</a>
         </div>
        </div>
        <%- include('partials/script'); %>
        <%- include('partials/footer'); %>

        </body>       
   
 </html>