<!-- Nombre del autor: Diego Manuel salas Rayas
    Fecha y hora: 10/101/2020 */-->

<!DOCTYPE html>
<html>
  <head>
     
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar'); %>

      <div class="jumbotron"> 
        <h1 class="display-4"> Bienvenido </h1>
        <p class="lead"> En esta pagina se utilizaran diferentes API´s </p>
        <hr class="my-4">
        <p>Solo soy un estudiante</p>
       

      </div>
      <%- include('partials/script'); %>
      <%- include('partials/footer'); %>
      

  </body>
</html>
