<!-- Nombre del autor: Diego Manuel salas Rayas
    Fecha y hora: 10/101/2020 */-->

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = 'lYrP4vF3Uk5zgTiGGuEzQGwGIVDGuy24';

        var map = L.mapquest.map('map', {
          center: [20.9133462,-100.7459396],
          layers: L.mapquest.tileLayer('map'),
          zoom: 10
        });

        

        map.addControl(L.mapquest.control());
      }
    </script>

  </head>

  <body >
    <%- include('partials/navbar'); %>
   
    
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h3>a continuacion se mostrara el mapa de San Miguel </h3>
            <h4 style="color: red;"> PRIMERO OPRIME EL BOTTON (locator) PARA QUE SE MUESTRE SU UBICACION</h4>
            <div id="map" style="width: 100%; height: 530px;"></div>
            <br>

            <h1>SI TU QUIERES OPTENER TU LATITUD Y LONGITUD</h1>
            <p><button onclick="geoFindMe()">Cual es la latitud y longitud de donde me encuentro?
            </button></p>
            <div id="out"></div>
          </body>
            </div>
          </div>
    
       <%- include('partials/script'); %>
   <%- include('partials/footer'); %>
  </body>
</html>




